In [1]:
import pandas as pd, requests, json, io, yaml

The bearer token is provided for the Remote Management System to access router information via the API
https://developers.rms.teltonika-networks.com/

The PAT for teltonika is stored in a config.yml file for security

In [2]:
with open('../config.yml', 'r') as file:
    cfg = yaml.safe_load(file)

In [3]:
pat = cfg['teltonika']['pat']

In [5]:
url950 = "https://rms.teltonika-networks.com/api/devices?limit=10&status=online&model=RUT950"
urlall = "https://rms.teltonika-networks.com/api/devices?limit=10"
shorturl = "https://rms.teltonika-networks.com/api/devices/"
csv_url = "https://rms.teltonika-networks.com/api/devices/export/csv"

In [6]:
bearer = f'Bearer {pat}'
response_devices = requests.get(urlall, \
                                headers = {"Authorization": bearer, "Accept":"application/json"})

In [7]:
start_date = "2022-09-01"
end_date = "2022-10-01"
 

fields = """id,model,name,serial,mac,wlan_mac,mqtt,
last_connection_at,updated_at,status,temperature,
signal,cell_id,connection_uptime,iccid,operator,router_uptime,wan_ip"""

In [8]:
response_devices_csv = requests.get(csv_url, \
                                   headers = {"Authorization": bearer, "Accept":"text/csv"}, \
                                   params = {"fields":fields})

In [9]:
# test_df = pd.read_csv(response_devices_csv.url()) This won't work because of authentication
response_devices_csv.url

'https://rms.teltonika-networks.com/api/devices/export/csv?fields=id%2Cmodel%2Cname%2Cserial%2Cmac%2Cwlan_mac%2Cmqtt%2C%0Alast_connection_at%2Cupdated_at%2Cstatus%2Ctemperature%2C%0Asignal%2Ccell_id%2Cconnection_uptime%2Ciccid%2Coperator%2Crouter_uptime%2Cwan_ip'

In [10]:
responses_df = pd.read_csv(io.StringIO(response_devices_csv.text))

Use the json response to get id's, then the `data-usage` endpoint to get daily usage stats from each device. Create a dataframe to hold the data usage data for each device to enable plotting to review any spikes in use - could indicate compromised security or unexpected updates.

In [16]:
devices = response_devices.json()

In [17]:
d_data = devices['data']

In [22]:

ids_sno = [(device['id'], device['serial']) for device in d_data]

In [34]:
serials_df = pd.DataFrame(ids_sno, columns=['id', 'serial_no'])

In [35]:
serials_df

       id   serial_no
0  413202  1104590839
1  413145  1104560850
2  406262  1114535631
3  404606  1114535283
4  404003  1114541531
5  403462  1114548739
6  401873  1114530778
7  401760  1114535282
8  400809  1114535706

In [45]:

time_bit = " 00:00:00"
sd = f'{start_date}{time_bit}'
ed = f'{end_date}{time_bit}'
params = {"start_date":sd, "end_date":ed}
i_d = 413202
du_url = f"{shorturl}/{i_d}/'data-usage'"
# loop over thlist of tuples extracting the first item in each tuple
ids = [ID for ID, serial in ids_sno]

In [65]:
def datause(i_d, start_date, end_date, bearer):
    time_bit = " 00:00:00"
    sd = f'{start_date}{time_bit}'
    ed = f'{end_date}{time_bit}'
    params = {"start_date":sd, "end_date":ed}
    du_url = f"https://rms.teltonika-networks.com/api/devices/{i_d}/data-usage"
    device_datause = requests.get(du_url, \
                headers = {"Authorization": bearer, "Accept":"application/json"}, \
                params = params)
    du = pd.DataFrame(device_datause.json()['data'])
    return du

In [58]:
du = datause(i_d = '413202', start_date = start_date, end_date = end_date, bearer = bearer)

In [71]:
# pd.DataFrame(du.json()['data'])
# du.json()
appended_data = []
for i_d in ids:
    du = datause(i_d = i_d, start_date = start_date, end_date = end_date, bearer = bearer)
    # store DataFrame in list
    list_of_dfs = appended_data.append(du)
    
#combined_dfs = pd.concat(du)

In [76]:
bigdf=pd.DataFrame()
for i_d in ids: # for each id in the list
    du = datause(i_d = i_d, start_date = start_date, end_date = end_date, bearer = bearer) #call the function to get a df of datause
    bigdf=pd.concat([data_you_need, du], ignore_index=True) # concatenate (bind_rows)
    
bigdf

           date    sim1_rx  sim2_rx   sim1_tx  sim2_tx
0    2022-09-01    2131079        0   2713677        0
1    2022-09-02    2423346        0   3018082        0
2    2022-09-03    2207295        0   2885533        0
3    2022-09-04    2113078        0   2903646        0
4    2022-09-05    2255319        0   2970863        0
..          ...        ...      ...       ...      ...
274  2022-09-27   10218684        0   4983775        0
275  2022-09-28  250907034        0  10109730        0
276  2022-09-29    9849940        0   4325711        0
277  2022-09-30  168847250        0  10008433        0
278  2022-10-01      17702        0     18929        0

[279 rows x 5 columns]